{% comment %} Modal Hapus data maintenance dengan method POST {% endcomment %}
<div class="modal fade" id="hapusmaintenance{{m.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Hapus Data Maintenance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form method="POST" action="{% url 'del_data_maintenance' m.id %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="text-center text-danger txt-sm">
                    <i class="far fa-trash-alt fa-5x mb-4 mt-2"></i>
                </div>
                <div class="text-center text-danger txt-sm">
                    <span>Data maintenance ini akan dihapus, Apakah anda yakin?</span>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->